.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.left {
  height: 100%;
  width: 10%;
  background-color: rgb(2, 2, 2);
}

.left-ul {
  list-style-type: none;
  font-size: 20px;
  line-height: 30px;
}

.left li {
  border-bottom: 1px solid white;
  font-size: 16px;
  padding: 5px 10px;
  color: gray;
  font-weight: 700;
}

.left .left-ul .active {
  color: #ffffff;
}
.left li:hover {
  background-color: #1a1a1a;
  cursor: pointer;
  color: white;
}
.right {
  width: 90%;
  padding: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5%;
}

.imgLogo {
  width: 210px;
  height: 100px;
  margin: 20px 0px;
}

.box {
  background-color: #efefef;
  text-align: center;
  padding: 38px 150px;
}
.box-title {
  font-size: 18px;
  margin-bottom: 21px;
}
.box-description {
  font-size: 16px;
}

.word {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 20px 0px;
}
.footer {
  width: 100%;
  margin-top: auto;
  border-top: 1px solid #eaeaea;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background-color: #efefef;
}
